<h1>Détails les detail du poids</>
<p>
    <Strong>Date:</Strong>
    <%= @weight_entry.weight %>
</p>

<p>
<Strong>Weight:</Strong>
<%=@weight_entry.date %>
</p>

<%= link_to 'Retour', weight_entries_path %>